body {
    margin: auto;
}


.Fialova {
    background-color: #c306e9;
}

.Modra {
    background-color: #210beb;
}

.Azurova {
    background-color: #09c6e7;
}

.Zelena {
    background-color: #07ca17;
}

.Zluta {
    background-color: #dde004;
}

.Oranzova {
    background-color: #d87a00;
}

.Cervena {
    background-color: #b80202;
}

.Vinova {
    background-color: #4d0000;
}
