article {
    text-align: center;
    display: flex;
    justify-content: center;

}

table {
    border-collapse: collapse;
}

thead {
    background: #3364e9;
}

td {
    border: 1px solid #3364e9;
}

tfoot {
    text-align: right;
    font-size: 0.75em;
    color: #3364e9;
}

tbody > tr:hover {
    background: #3364e9;
    filter: brightness(150%) contrast(65%);
}